$main-color: #b59d7c;
$sub-color: #e8e8e8;
.animaldetailbody {
  width: 75%;
  margin: 50px auto;
  min-height: auto;
}

.animaldetailmain {
  //border: 1px solid violet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .topContent {
    //border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px $sub-color;
    padding: 30px;
    margin: 30px auto 50px;
    .mainInfo {
      display: flex;
      .detailscard {
        margin-top: 20px;
        border: 1px solid #999999;
        border-radius: 15px;
        img {
          border-radius: 15px 15px 0 0;
        }
      }
    }
    .textBox {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      p {
        //border: 1px solid salmon;
        padding: 0;
        margin: 0;
        font-size: 18px;
        justify-content: space-evenly;
      }

      .title {
        font-weight: 600;
        width: 130px;
      }
    }
    .cardText {
      margin: 20px 0;
      p {
        //border: 1px solid salmon;
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: 18px;
        justify-content: space-evenly;
      }
      .title {
        font-weight: 600;
        width: 120px;
      }
    }

    .head {
      text-align: center;
    }
  }

  .bottomContent {
    //border: 1px solid salmon;
  }
}

.processState {
  display: inline-block;
  border: 2px solid $main-color;
  color: $main-color;
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.button {
  border: 0;
  color: white;
  background-color: $main-color;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px 0;
}
.gotoList {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}
