$main-color: #b59d7c;

.div {
  margin: 50px 120px;
}
.inquiry {
  border: 1px solid gray;
  margin: 50px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    background-color: $main-color;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
  }
}
.condition {
  display: flex;
  flex-direction: column;
}
.firstCon {
  display: flex;
  margin-bottom: 20px;
  div {
    margin-right: 10px;
  }
}
.secondCon {
  display: flex;
}
