$main-color: #b59d7c;
$sub-color: #e8e8e8;
$main-text: #292929;
$sub-text: #999999;
.community_commentBox {
  // background-color: white;
  // box-shadow: 0px 0px 10px $sub-color;
  // padding: 30px;
  width: 75%;
  margin: auto;
  .communitydetailheader {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .topContent {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px $sub-color;
    padding: 30px;
    //@at-root: 1px solid red;
    height: 100%;
    min-height: 500px;
    margin: auto;
    background: #ffffff;
    .alltitle {
      display: flex;
      justify-content: space-between;
      margin: auto;
      border-bottom: 3px solid $main-color;
      .tag_p {
        display: inline-block;
        margin: 20px 30px;
      }
      .title_p {
        display: inline-block;
        //border: 1px solid black;
      }

      .rightInfo {
        display: flex;
        align-items: flex-end;
        .p {
          margin-right: 10px;
        }
      }
    }
    .commudetailbox {
      background-color: white;
      box-shadow: 0px 0px 10px $sub-color;
      padding: 30px;
      // height: 400px;
      height: auto;
      margin: auto;
      background: #ffffff;

      .content_div {
        display: block;
        width: 90%;
        // height: 200px;
        height: auto;
        margin: auto;
        margin-top: 20px;
        // border: 1px solid black;
      }
    }
    .commueditPost {
      text-align: end;
      right: 30px;
      padding: 10px 0;
      p {
        display: inline-block;
        margin: 0 0 0 10px;
        color: $sub-text;
        &:hover {
          color: $main-text;
          cursor: pointer;
        }
    }
    .mainDiv {
      min-height: 100%;
    }
    .content_div {
      display: block;
      min-height: 300px;
      overflow: auto;
      padding: 30px;
    }
    .contentbtn {
      display: flex;
      justify-content: end;
      .button {
        background-color: $main-color;
        padding: 13px;
        margin-top: 30px;
        border-radius: 5px;
        border: 0;
        color: white;
      }
      .deletebutton {
        background-color: $main-color;
        padding: 13px;
        margin-top: 30px;
        margin-right: 10px;
        border-radius: 5px;
        border: 0;
        color: white;
      }
    }
  }
}
}