$main-text: #292e3d;
$main-color: #b59d7c;
$sub-color: #999999;

.commuupdatemain {
  //border: 1px solid red;
  margin: 20px 200px;
  margin-top: 100px;
  .commuhead{
    margin-bottom: 60px;
  }
  .createtopContent {
    //border: 1px solid red;
    display: flex;
    //justify-content: space-around;
    //justify-content: center;
    //justify-content: space-between;

    //height: 500px; 높이 자동으로 하고 싶으면 사용
    // background: #ffffff;
    margin-bottom: 20px;
    .search_input {
      //border: 1px solid $sub-color;
      margin-bottom: 15px;
      display: flex;
      font-size: 20px;
      color: $main-text;
      border: 1px solid $main-text;
    }
    .Title {
      font-size: 20px;
      color: $main-text;
      width: 100%;
      input {
        border: 1px solid $main-text;
        padding: 10px 10px;

        &:focus {
          outline: none;
        }
      }
    }
    .content_div {
      display: inline-block;
      height: auto;
      // width: 78%;

      margin-left: 10px;
      resize: none;
      font-size: 16px;
    }
  }
  .quill {
    // background-color: white;
    // box-shadow: 0px 0px 10px $sub-color;
    //padding: 30px;
    //border: 1px solid red;
    // display: block;
    // margin: auto;
    height: 400px;
  }
  .Editorheight{
    //border: 1px solid red;
    height: 400px;
  }
  .createbuttonContent {
    //border: 1px solid red;
    display: flex;
    justify-content: end;
    margin-top: 70px;
    // width: 70%;
    .communitycreatebutton {
      background-color: $main-color;
      padding: 5px 13px;
      margin-left: 10px; //끝으로 보낼거면 없애기
      border-radius: 5px;
      border: 0;
      color: white;
    }
  }
}
