$main-color: #b59d7c;
$sub-color: #e8e8e8;
.community_commentBox {
  background-color: white;
  box-shadow: 0px 0px 10px $sub-color;
  padding: 30px;
  margin: 100px;
  .topContent {
    background-color: white;
    box-shadow: 0px 0px 10px $sub-color;
    padding: 30px;
    //@at-root: 1px solid red;
    height: 400px;
    margin: auto;   
    background: #ffffff;
    margin-bottom: 100px;
    //grid-template-columns: 200px 200px 500px;
    .alltitle {
      display: block;
      margin: auto;
      //border: 1px solid blue;
      .tag_p {
        display: inline-block;
        margin: 20px;
        margin-right: 30px;
        margin-left: 30px;
        //border: 1px solid blue;
      }
      .title_p {
        display: inline-block;
        //border: 1px solid black;
      }
      .author_p {
        display: inline-block;
        margin: 20px;
        margin-right: 30px;
        margin-left: 30px;
        float: right;
        //border: 1px solid black;
      }
      .date_p {
        display: inline-block;
        margin: 20px;
        margin-right: 30px;
        margin-left: 30px;
        float: right;
        //border: 1px solid black;
      }
      .read_p {
        display: inline-block;
        margin: 20px;
        margin-right: 30px;
        margin-left: 30px;
        float: right;
        //border: 1px solid black;
      }
    }

    .content_div {
      display: block;
      width: 90%;
      height: 200px;
      //height: auto;
      margin: auto;
      margin-top: 20px;
      border: 1px solid black;
    }
    .contentbtn {
      width: 90%;
      //border: 1px solid black;
      margin: auto;
      .button {
        background-color: $main-color;
        padding: 5px 13px;
        margin-top: 30px;
        border-radius: 5px;
        border: 0;
        color: white;
        float: right;
      }
      .deletebutton {
        background-color: $main-color;
        padding: 5px 13px;
        margin-top: 30px;
        margin-left: 10px;
        border-radius: 5px;
        border: 0;
        color: white;
        float: right;
      }
    }
  }
}

// .middle_comment{
//     margin-left: 70px;
// }
// .bottomContent{
//     display:block;
//     height: auto;
//     width: 90%;
//     margin: auto;
//     background: #ffffff;
//     .onecomment{
//         border: 1px solid black;
//         height: auto;
//         .content_div{
//             display:inline-block;
//             width: 60%;
//             height: auto;
//             margin-top: 50px;
//             margin-left: 50px;
//             resize: none;
//         }
//         .author_p{
//             display:inline-block;
//             border: 1px solid black;
//         }
//         .button {
//             display:inline-block;
//             background-color: $main-color;
//             padding: 5px 13px;
//             margin-left: 30px; //끝으로 보낼거면 없애기
//             margin-bottom: 40px;
//             border-radius: 5px;
//             border: 0;
//             color: white;
//         }

//         .img_thumbnail{
//             display:inline-block;
//             //border: 1px solid black;
//             width: 50px;
//             height: 50px;
//             margin-left: 50px;
//             margin-bottom: 46px;
//             border-radius: 70%;
//         }
//     }
// }
