$main-text: #292e3d;
$main-color: #b59d7c;
$sub-color: #999999;


.myContainer {
    
    .title{
        font-weight: bold;
        width: 100px;
        padding: 0 10px;
        margin: 0;
        margin-left: 10px;
        width: 100px;
    }

    .searchBar {
        border: 1px solid $sub-color;
        border-radius: 5px;
        padding: 20px 20px;
        margin: 10px 0; 

        
        .top {
            display: flex;
            align-items: center;
            padding: 8px 0;

            .volunteer {
                display: flex;
                align-items: center;
                width: 350px;
            }
    
            .vol_time{
                margin-left: 10px;
                border: 1px solid $sub-color;
                line-height: 18px;
            }

            span{
                
                margin-left: 3px;
            }


            .endDate {
                display: flex;

                input {
                    padding-left: 8px;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            padding: 8px 0;
    
            .areaBox {
                display: flex;
                width: 350px;

                .area {
                    margin: 0 5px 0 10px;
                }

                select { 
                    height: fit-content;
                    margin: 0;
                }
        
            }

            .titleBox {
                display: flex;

                input {
                    padding-left: 8px;
                    &:focus {
                      outline: none;
                    }
                }
            }
        }

        button {
            background-color: $main-color;
            padding: 5px 13px;
            margin-left: 30px; //끝으로 보낼거면 없애기
            border-radius: 5px;
            border: 0;
            color: white;
        }
    }

    .writeBtn {
        display: inline;
        float: right;
        color: white;
        cursor: pointer;
        background-color: $main-color;
        border: 0;
        border-radius: 5px;
        padding: 7px 10px;
    };
    
    table {
        margin-top: 30px;
        border-top: 1px solid lightgrey;        
        text-align: center;
    }
    
    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            border-radius: 50%;
            background-color: $main-color;
            color: white;
            margin: 7px;
            border: none;

            &:hover {
                background-color: $sub-color;
                color: white;
            }
        }
    }
}