.home_img {
  background-image: url("../../res/img/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100wh;
  height: 100vh;
  position: relative;

  h1 {
    color: white;
    position: absolute;
    left: 8rem;
    top: 15rem;
    font-size: 40px;
  }
}

.div1 {
  height: 100px;
  background-color: blue;
}

.div2 {
  height: 140px;
  background-color: red;
}
