/* *{
    padding: 0;
    margin: 0;
}

.home_img {
    background-image: url('../../res/img/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100wh;
    height: 100vh;
    position: relative;

    h1{
        color: white;
        position: absolute;
        left: 8rem;
        top: 15rem;
        font-size: 40px;
    }
}

.div1{
    height: 100vh;
    background-color: blue;
}

.div2 {
    height: 100vh;
    background-color: red;
} */

#hero {
    background: url("../../res/img/home.jpg") repeat scroll center center/cover;
    height: 100vh;
    width: 100%;
}

#hero .hero-content {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.hero-content p {
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}

.hero-content .list-social li {
    float: left;
    margin-right: 20px;
}

.hero-content .list-social li i {
    color: #fff;
    font-size: 15px;
}

.div1 {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.div2 {
    width: 100%;
    height: 100vh;
    background-color: red;
}