.adimincontainer {
  margin: auto;
  img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  .left {
    display: inline-block;
    margin-right: 80px;
  }
  .managetext {
    text-align: center;
  }
  .leftbox {
    border: 1px solid black;
    padding: 100px;
  }
  .right {
    display: inline-block;
  }
  .rightbox {
    border: 1px solid black;
    padding: 100px;
  }
}
