$main-text: #292e3d;
$main-color: #b59d7c;
$sub-color: #999999;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin: 40px 0;
  h2 {
    font-weight: bold;
  }
}

.my_city {
    border: 1px solid $sub-color;
    border-radius: 5px;
    margin: 10px 0;

  P {
    padding: 20px 20px;
    margin: auto 0;
    width: fit-content;

    &:hover {
      font-weight: bold;
    }
  }
}

.search_bar {
    border: 1px solid $sub-color;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start; //끝으로 보낼거면 없애고 아래거
    // justify-content: space-between;
    padding: 20px 20px;
    margin: 10px 0;

    div {
        display: flex;
        margin-right: 30px;

        p {
            margin: auto;
        }

        select,
        input{
            border: 1px solid $sub-color;
            margin-left: 10px;
            border-radius: 5px;
        }

        input {
            padding-left: 8px;
            &:focus {
                outline: none;
            }
        }
    }

    .search_input {
        p {
            font-weight: bold;
        }
        select {
            margin-right: 20px;
        }
    }

    input {
      padding-left: 8px;
      &:focus {
        outline: none;
      }
    }
  }

  .search-input {
    p {
      font-weight: bold;
    }
    select {
      margin-right: 20px;
    }
  }

  button {
    background-color: $main-color;
    padding: 5px 13px;
    margin-left: 30px; //끝으로 보낼거면 없애기
    border-radius: 5px;
    border: 0;
    color: white;
  }
}

table {
    margin-top: 20px;
}

.my_table {
    text-align: center;
}
