$main-color: #b59d7c;

.card {
  border-radius: 15px;
  border: 1px solid #999999;
  .cardText {
    margin: 10px 0;
    p {
      font-size: 15px;
      justify-content: space-evenly;
      margin: 0;
    }
    .title {
      font-weight: 600;
      width: 120px;
      margin-right: 10px;
    }
  }

  .cardBody {
    padding: 10px 20px;
  }
}

.cardImgTop {
  padding: 5px;
  height: 400px;
  object-fit: fill;
  width: 100%;
}

.detilaBtn {
  display: flex;
  justify-content: end;
  
  .button {
    border: 0;
    color: white;
    background-color: $main-color;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
  }
}

.processState {
  display: inline-block;
  border: 2px solid $main-color;
  color: $main-color;
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.loadingImg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 50px;
}