.card{
    border: 1px solid black;
    .card-text{
        p{
          //border: 1px solid salmon;
          display: inline-block;
          padding: 0;
          margin-top: 5px;
          margin-left: 10px;
          font-size: 15px;
          justify-content: space-evenly;
        }
        .title{
          font-weight:600;
          width: 120px;
        }
      }
}
