body{
    margin: 60px;
}

h2{
    margin: 0;
    // border: 1px solid rebeccapurple;
}

main{
    // border: 1px solid violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .top-content{
        // border: 1px solid red;
        display: flex;
        // justify-content: space-around;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        .main-info{
            // border: 1px solid darkblue;
        }
        .text-box{
            display: flex;
            flex-direction: row;
            // border: 1px solid blue;
            margin: 20px 0;
            p{
                // border: 1px solid salmon;
                padding: 0;
                margin: 0;
                font-size: 18px;
                justify-content: space-evenly;
            }

            .title{
                font-weight:500;
                width: 130px;
            }
        }
    }
}