.loginregister {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 50vh; */
  margin: 100px 300px;
}

.loginregister h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bolder;
}

.userform {
  margin: 50px 150px;
}
